:root {
  --primary-color: #323264;
  --second-color: #24a3ff;
  --third-color: #f0145a;
  --fourth-color: #b3b3ba;
  --five-color: #f5f5fa;
  --sixth-color: #e6e6f0;
  --seventh-color: #ededf7;
  --eighth-color: #ec6f5d;
  --black-color: #000000;
  --white-color: #ffffff;
  /*---------color-logo--------------*/
  --hillel-color: #1c4280;
  --wannabiz-color: #143646;
  --tapgerine-color: #f48b30;
  --dlook-color: #9e4dc3;

  --orangear-color: #fd9339;
  --adtelligent-color: #e2e2e4;
  --clickky-color: #c71c36;
  --ecoleasing-color: #dcf3f9;

  --infratek-color: #eaeaea;
  --citipark-color: #282240;
  --artprint-color: #1d4568;

  --container-width: 1720px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
}

.container-big {
  width: 100%;
  max-width: calc(var(--container-width) + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  color: var(--white-color);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}
/*--------------HEADER---------------------------------------------*/
.gradient-wrapper {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
  position: relative;
  margin-bottom: 80px;
}

.gradient-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - 10px);
  left: 20px;
  height: 20px;
  width: calc(100% - 40px);
  border-radius: 20px;
  background-color: #cacadb;
  z-index: -1;
}

.gradient-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - 10px);
  left: 40px;
  height: 40px;
  width: calc(100% - 80px);
  border-radius: 20px;
  background-color: #e7e7f2;
  z-index: -2;
}

.gradient-wrapper .header {
  padding-top: 50px;
  min-width: 100%;
}

.check {
  display: none;
}
.wrap-header {
  display: grid;
  grid-template-areas:
    "logo-header first-menu"
    "logo-header burger-block";
}
.logo-header {
  grid-area: logo-header;
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
.first-menu {
  grid-area: first-menu;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  margin-bottom: 16px;
}

.second-menu ul {
  grid-area: second-menu;
  display: flex;
  justify-content: end;
  gap: 15px;
  color: var(--white-color);
}

.second-menu a {
  position: relative;
}

/* a.active-link {
  color: var(--third-color);
} */

/* .second-menu a.active-link::before {
  content: "";
  bottom: -2px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--third-color);
} */

.second-menu a::before {
  content: "";
  left: 0;
  bottom: -2px;
  position: absolute;
  width: 0%;
  height: 3px;
  transition: 0.2s;
}

.second-menu a:hover::before {
  width: 100%;
  background-color: var(--white-color);
}

.second-menu a:hover {
  color: var(--white-color);
}

.text-header {
  font-size: 36px;
  line-height: 1.22;
  font-weight: 400;
}

.circle {
  width: 6px;
  height: 6px;
  background: var(--sixth-color);
  border-radius: 50%;
}
.nav-menu1 a {
  font-size: 12px;
  margin-left: 14px;
  padding: 5px 7px;
}
/* .menu1-link {
  padding: 5px 7px;
} */
.nav-menu1 a:hover {
  background: var(--five-color);
  border-radius: 8px;
  color: var(--fourth-color);
}

a.activ-len {
  background: var(--third-color);
  color: var(--white-color);
  padding: 5px 7px;
  border-radius: 8px;
}

.adress-header {
  font-weight: 400;
}

.logos-link:hover svg path {
  fill: var(--third-color);
  transition: all 0.2s linear;
}

a:hover {
  color: var(--third-color);
}

.body.dark .header {
  position: absolute;
  top: 0;
}

/*---------------------FIRST-SCREEN-----------------------------------------------------------*/
.first-screen {
  min-height: 100vh;
  background: url(../image/Symbol.png) no-repeat center/contain;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title-center {
  padding-top: 477px;
  padding-bottom: 405px;
  font-size: 38px;
  margin: 0;
}

.tabs-link {
  padding-bottom: 30px;
}

@media (max-width: 640px) {
  .title-center {
    max-width: 315px;
    text-align: center;
  }
}
/*---------------------SECTION-TABS-----------------------------------------------------------*/

.nav-link.active {
  background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
.flex {
  display: flex;
}
.align-items-start {
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 87px;
}

.nav-pills {
  display: flex;
  flex-direction: column;
}

.nav-link {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: none;
  color: var(--fourth-color);
  border-width: 0;
  margin-bottom: 30px;
  white-space: nowrap;
  text-align: right;
}

.nav-link:hover {
  color: var(--third-color);
}

.text-tab {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.58;
}

.titl-tab {
  font-size: 30px;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.line-tab {
  width: 4px;
  height: 303px;
  background: rgba(255, 255, 255, 0.3);
  margin-left: 60px;
}

.tab-content {
  max-width: 860px;
  margin-left: 60px;
}

.tabs-link :hover svg path {
  stroke: var(--third-color);
}
@media (max-width: 960px) {
  .nav-pills {
    display: flex;
    flex-direction: row;
  }

  .align-items-start {
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 60px;
    margin-bottom: 0;
  }

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .line-tab {
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.3);
    margin: 60px 0;
  }

  .tab-content {
    margin-left: 0;
    margin-bottom: 60px;
  }

  .nav-link {
    margin-bottom: 0px;
    margin-right: 30px;
  }

  .wrap-tabs {
    overflow-x: auto;
    width: 100%;
    margin-left: 60px;
    margin-right: -60px;
  }
  .wrap-tabs {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .wrap-tabs::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 640px) {
  .wrap-tabs {
    margin-left: 30px;
    margin-right: -30px;
  }

  .nav-link {
    font-weight: 700;
    font-size: 30px;
  }

  .line-tab {
    margin: 30px 0;
  }

  .titl-tab {
    font-size: 20px;
  }
}

/*-----------------------SECTION-CARD-------------------------------------------*/

.services {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--second-color);
}
.link-cards:hover svg path {
  color: var(--third-color);
  stroke: var(--third-color);
}
.title-cards {
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 38px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.icon-card {
  width: 92px;
  height: 92px;
  background: var(--white-color);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blok-card {
  max-width: 493px;
  margin-top: 30px;
}

.subtitle-card {
  font-size: 22px;
  margin: 0;
  color: var(--second-color);
}

.text-card {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

.headline {
  max-width: 270px;
}

.wrapper-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-bottom: 60px;
}
@media (max-width: 960px) {
  .wrapper-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 640px) {
  .title-cards {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
  }

  .wrapper-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 60px;
  }
}

/*--------------------teamSlider--------------------------------------------------------------*/
.team_img {
  width: 400px;
  max-height: 100%;
  border-radius: 12px 0px 0px 12px;
}

.team_one_foto {
  background: url(../image/Team-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.team_two_foto {
  background: url(../image/Team-2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.team_three_foto {
  background: url(../image/Team-3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.title_team {
  max-width: 1140px;
  font-size: 38px;
  line-height: 1.21;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  margin-bottom: 30px;
}
.name_team {
  color: var(--fourth-color);
}

.job_title {
  font-weight: 400;
  font-size: 14px;
  color: var(--fourth-color);
}

.text_team {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--five-color);
  border-radius: 0px 12px 12px 0px;
}

.card_team {
  display: flex;
}

.slick-dots li button:before {
  font-size: 16px;
  opacity: 0.2;
  color: var(--second-color);
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: var(--second-color);
}
@media (max-width: 960px) {
  .team_img {
    width: 100%;
    height: 500px;
    border-radius: 12px 12px 0px 0px;
  }
  .card_team {
    display: flex;
    flex-direction: column;
  }

  .text_team {
    border-radius: 0 0 12px 12px;
  }
}
@media (max-width: 640px) {
  .title_team {
    font-size: 30px;
  }
}
/*-----------------------LOGO-PARTNERS-------------------------------------------*/
.titie-partners {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 30px;
  margin-top: 60px;
}
.wrap-logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 60px;
}

.logo-img {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hillel {
  background-color: var(--hillel-color);
  border-radius: 12px 0 0 0;
}

.wannabiz {
  background-color: var(--wannabiz-color);
}

.tapgerine {
  background-color: var(--tapgerine-color);
}

.dlook {
  background-color: var(--dlook-color);
  border-radius: 0 12px 0 0;
}

.orangear {
  background-color: var(--orangear-color);
}

.adtelligent {
  background-color: var(--adtelligent-color);
}

.clickky {
  background-color: var(--clickky-color);
}

.ecoleasing {
  background-color: var(--ecoleasing-color);
}

.infatek {
  background-color: var(--infratek-color);
  border-radius: 0 0 0 12px;
}

.citipark {
  background-color: var(--citipark-color);
}

.artprint {
  background-color: var(--artprint-color);
}

.ultimate {
  background-color: var(--black-color);
  border-radius: 0 0 12px 0;
}

@media (max-width: 1440px) {
  .container-big {
    padding-left: 0px;
    padding-right: 0px;
  }

  .hillel {
    background-color: var(--hillel-color);
    border-radius: 0;
  }
  .infatek {
    background-color: var(--infratek-color);
    border-radius: 0;
  }

  .dlook {
    background-color: var(--dlook-color);
    border-radius: 0;
  }

  .ultimate {
    background-color: var(--black-color);
    border-radius: 0;
  }

  .wrap-logo {
    margin-bottom: 0px;
  }
}
@media (max-width: 960px) {
  .wrap-logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 640px) {
  .wrap-logo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 720px;
    overflow-y: auto;
  }

  .wrap-logo {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .wrap-logo::-webkit-scrollbar {
    display: none;
  }
}
/*--------------publication_block---------------------------------------------*/
.publication_block {
  background-color: var(--five-color);
  padding-top: 30px;
}

.title_publication {
  font-size: 38px;
  line-height: 1.21;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 30px;
  margin-top: 14px;
}

.publication_card {
  background-color: var(--white-color);
  border-radius: 8px 8px 0px 0px;
}

.publication_block_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}
.publication_img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}
.publication_subject {
  color: var(--second-color);
}

.publication_data {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--fourth-color);
}

.line_small {
  height: 4px;
  width: 100%;
  background-color: var(--sixth-color);
}

.publication_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--black-color);
}

/* .wrap-publication {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
} */

.wrap-publication {
  display: grid;
  grid-template-areas: "card_one card_two card_three";
  gap: 30px;
}
.card_one {
  grid-area: card_one;
}

.card_two {
  grid-area: card_two;
}

.card_three {
  grid-area: card_three;
}

.line_big {
  height: 2px;
  width: 100%;
  background-color: var(--sixth-color);
  margin-top: 30px;
}

@media (max-width: 960px) {
  .wrap-publication {
    display: grid;
    grid-template-areas:
      "card_one card_two"
      "card_three card_three";
    gap: 30px;
  }
}

@media (max-width: 640px) {
  .wrap-publication {
    display: grid;
    grid-template-areas:
      "card_one "
      "card_two"
      "card_three";
    gap: 30px;
    margin-bottom: 30px;
  }
}
/*--------------FOOTER---------------------------------------------*/
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--five-color);
}

.circle-footer {
  background: var(--fourth-color);
}

.gen-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 23.5px;
}

.adress-footer {
  font-weight: 400;
  color: var(--primary-color);
}

.geolocation {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--second-color);
}

.contakt-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.email-footer {
  color: var(--second-color);
}

.llc {
  font-weight: 400;
  color: var(--fourth-color);
}

.tel-footer {
  color: var(--primary-color);
}

.wrap-footer {
  display: flex;
  justify-content: space-between;
}

.logos-link2:hover svg path {
  fill: var(--third-color);
}
