/*--------------FOOTER---------------------------------------------*/
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--five-color);
}

.circle-footer {
  background: var(--fourth-color);
}

.gen-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 23.5px;
}

.adress-footer {
  font-weight: 400;
  color: var(--primary-color);
}

.geolocation {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--second-color);
}

.contakt-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.email-footer {
  color: var(--second-color);
}

.llc {
  font-weight: 400;
  color: var(--fourth-color);
}

.tel-footer {
  color: var(--primary-color);
}

.wrap-footer {
  display: flex;
  justify-content: space-between;
}

.logos-link2:hover svg path {
  fill: var(--third-color);
}

/*-----------------MADIA---------------------------------------------------------------------*/
@media (max-width: 960px) {
  .wrap-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .llc {
    margin-top: 0;
  }

  .first-screen {
    min-height: fit-content;
    aspect-ratio: 375/600;
  }
}

@media (max-width: 640px) {
  .gen-footer {
    flex-direction: column;
  }

  .contakt-footer {
    flex-direction: column;
  }
}
